<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Orçamento - Fasicomércio</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/estilo.css"> </head>
<body>
<header>
    <img src="/static/logo_fasicomercio_azul.png" alt="Logo Fasicomércio" class="logo">
<!--    <h1>Novo Orçamento</h1>-->
</header>

<main>
    <form id="orcamentoForm">

        <div class="form-group">
            <label for="produto">ID Produto: :</label>
            <input type="number" step="0.01" id="produto" name="produto" required />
        </div>

        <div class="form-group">
            <label for="precoCompra">Preço de Compra (R$):</label>
            <input type="number" step="0.01" id="precoCompra" name="precoCompra" required />
        </div>

        <div class="form-group">
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" required />
        </div>

        <div class="form-group">
            <label for="dataValidade">Data de Validade:</label>
            <input type="date" id="dataValidade" name="dataValidade" required />
        </div>

        <div class="form-group">
            <label for="dataEntrega">Data de Entrega:</label>
            <input type="date" id="dataEntrega" name="dataEntrega" required />
        </div>

        <div class="form-group">
            <label for="idFornecedor">ID Fornecedor:</label>
            <input type="number" id="idFornecedor" name="idFornecedor" required />
        </div>
        <div class="form-group">
            <label for="idUnmedi">ID Unidade de Medida:</label>
            <input type="number" id="idUnmedi" name="idUnmedi" required />
        </div>

        <div class="form-group">
            <label for="garantia">Garantia:</label>
            <input type="text" id="garantia" name="garantia" />
        </div>
        <div class="form-group">
            <label for="condicoesPagamento">Condições de Pagamento:</label>
            <input type="text" id="condicoesPagamento" name="condicoesPagamento" />
        </div>

        <div class="form-group">
            <label for="idGrupoAprovador">ID Grupo Aprovador:</label>
            <input type="number" id="idGrupoAprovador" name="idGrupoAprovador" value="0" />
        </div>
        <div class="form-group">
            <label for="idUserAprove">ID Usuário Aprovador:</label>
            <input type="number" id="idUserAprove" name="idUserAprove" value="0" />
        </div>

        <button type="submit">Salvar Orçamento</button>
    </form>

    <div id="message" class="success-message"></div>
</main>

<script src="/static/formulario-orcamento.js"></script> </body>
</html>